@media only screen and (max-width: 767px) {

    .row-ac .col h1 {
        margin-top: 35px;
    }

    .row-ac .nut {
        text-align: center;
    }

    .info h4 {
        text-align: center;
    }

    .info a {
        text-align: center;
    }
    
}

@media only screen and (max-width: 560px) {
  
#logo {
    display: block; margin-left: auto; margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}


}

